*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3E553A;    
}

.container-form{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition:all 1s ease;    
    margin: 20px;
}

.information{
    width: 40%;
    display:flex;
    align-items: center;
    text-align: center;
    background-color: #7a7b7a;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs{
    width: 100%;
    padding: 0 30px;
}

.info-childs h2{
    font-size: 2rem;
    color: #ffffff;
}

.info-childs p{
    margin: 15px 0;
    color: #e7e5e5d8;
}

.info-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #fff;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s ease;
}

.info-childs input:hover{
    background-color: #398f2c;
    border: none;
    color:#fff;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .1);
}

.form-information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #181818;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-information-childs{
    padding: 0 30px;
}

.form-information-childs h2{
    font-size: 2rem;
    color: #fff;
}

.form-information-childs p{
    font-size: 16px;
    color: #e7e5e5d8;
}

.icons{
    margin: 15px 0;
}

.icons i{
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #398f2c;
    border: solid thin #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(173, 173, 173, 0.551);
}

.icons i:hover{
    background-color: #398f2c;
    color: #fff;
    border: none;
}

.form{
    margin: 30px 0 0 0;
}

.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #ffff;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .1);
}

.form label input{
    width: 100%;
    padding: 10px;
    background-color: #ffff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i{
    color:#398f2c;
}

.form input[type="submit"]{
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .1);
}

.form input[type="submit"]:hover{
    background-color: #398f2c;
    border: none;
}

.hide {
    position: absolute;
    transform: translateY(-300%);
}

.form div .alerta{
    width: 290px;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: .8rem;
    color: #fff;
}

.form .alerta-error{
    display: block;
    background-color: #ac5050;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
    display: none;
}

.form .alerta-exito{
    display: block;
    background-color: #38902b;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
    display: none;
}

/*RESPONSIVE FORM*/

@media screen and (max-width:750px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:580px) {
    html {
        font-size: 10px;
    }

    .container-form {
        height: auto;
        flex-direction: column;
    }

    .information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-information {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }

}